
<div class="modal-backdrop" (click)="close()"></div>
<div class="modal">
  <div class="modal-header">
    <h2 *ngIf="modalData && modalData.title">{{modalData!.title}}</h2>
  </div>
  
  <div class="modal-body">
    <!-- <p *ngIf="modalData && modalData.message && modalData.message instanceof string">{{modalData!.message}}</p> -->
    <p *ngIf="modalData && modalData.message && isMessageString()">{{modalData!.message}}</p>
    <ul *ngIf="modalData && modalData.message && !isMessageString()">
      <li *ngFor="let item of modalData.message | keyvalue">
        <b>{{item.key}}</b>: {{item.value}}
      </li>
    </ul>
  </div>
  <div class="modal-footer">
    <app-button (buttonClicked)="close()" [text]="'close'"></app-button>
  </div>
</div>
