@import '../../styles/variables.scss';
@import '../../styles/variables.scss';

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;  
}

.other-commands {
  display: flex;
  flex-direction: column;
  gap: 25px; 
}

.place, .rotate {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px
}

@media screen and (max-width: $portrait-width) {
  .controls {
    flex-direction: row;
  }
}
@media screen and (max-width: $mobile-width) {
  .controls {
    flex-direction: column;
  }
}