@import '../styles/colors.scss';

.app {
  background-color: $grey-2;
  width: 100%;
  height: 100vh;
  padding: 50px 10px;
}

.commands {
  margin-top: 30px;
  display: flex;
  gap: 20px;

  .instructions {
    
  }
  
  .placement-controls {
    &__inputs {
      input {
        
      }
    }

    &__submit {
      width: 100%;
    }
  }
}
