@import '../styles/colors.scss';
@import '../styles/variables.scss';



.app {
  padding: 50px 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: $portrait-width) {
  .app {
    gap: 40px;
    padding: 10px 0;
    flex-direction: column;
  }
}


